@import "../../../global/global.css";
body{
    height: 100%;
}

header{
    background-color:var(--color4);
}


main{
    height: 100%;
    display: flex;
    background-color: var(--color7);
    justify-content: center;
}


main > .interface{
    height: fit-content;
    width: 400px;
    margin-top: .5rem;
    margin-bottom: .5rem;
}
.interface .flex{
    margin-top: 0.25rem;
    height: fit-content;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction:column;
}

.h2{
    margin-top: .5rem;
    padding: 0%;
    height: fit-content;
    color: rgb(227, 235, 241);
}

p{
    margin-top: 0%;
    padding: 0%;
    justify-content: left;
    line-height: 1;
    height: fit-content;
    color: rgb(213, 219, 225);
    font-size: small;
}

.form-control{
    width: 70%;
    background-color: var(--color4);
    border-color: var(--color3);
    
}
.form-control:hover{
    background-color: var(--color2);
}

.form-control:focus{
    width: 70%;
    background-color: var(--color3);
    border-color: var(--color3);
    box-shadow: 0 0 0 0 0.25rem var(--color2);
    color: var(--branco);
}

.cotainer-fluid{
    height: 40px;
}