@import "../../../global/global.css";

header{
    align-items: center;
    padding: 0.25rem;
}

header .btn{
    color: var(--acizentado);
    background-color: var(--color3);
    align-items: center;
    height: fit-content;
}

.btn:hover{
    color: var(--branco);
    background-color: var(--color2);
    align-items: center;  
    zoom: 102%;
}