h1{
    font-family: Verdana;
}

h2{
    font-family: Verdana;
}

h3{
    font-family: Verdana;
}

p{
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    font-family:Arial, Helvetica, sans-serif
}

