@import "./partials/header.css";
@import "./partials/body.css";
@import "./partials/footer.css";
@import "../../global/global.css";

html {
    margin: 0 0;
    height: 100%;
    font-size: 10px;
}

.flex{
    display: flex;
}




